.home {
  width: 100%;
  height: 100vh;
  background-image: url('/n.avif');
  background-repeat: no-repeat;
  background-size: cover;
}
.home h1 {
  text-align: center;
  position: relative;
  color: rgb(191, 200, 208);
  top: 10px;
}
.home ul {
  margin-top: 50px;
  margin-left: 10px;
  color: aliceblue;
}
.detail {
  width: 250px;
  height: 120px;
  padding: 15px;
  border: 1px solid rgb(241, 236, 236);
  margin-left: 10px;
  color: aliceblue;
  margin-top: 200px;
}
